# Data files (too large for Git)
data/images/
data/*
!data/styles_clean.csv
embeddings/
# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/


.streamlit/secrets.toml
