# Core ML
torch
torchvision
open-clip-torch
faiss-cpu

# Data & Image Processing
numpy
pandas
Pillow
tqdm

# Evaluation
scikit-learn

# App
streamlit==1.37.0

# Storage & Deployment
huggingface_hub
python-dotenv
boto3
altair==4.2.2

# Visualization (for notebooks)
matplotlib
seaborn
